html,
body {
	height: 100%;
    margin: 0;
}

.borde {
	border: 1px solid red;
}

input {
	border-radius: 0px !important;
	border-color: rgba(2, 2, 2, 0.0) !important;
	background-color: #EEEEEE !important;
}

button {
	border-radius: 0px !important;
}

select {
	border-width: 0px !important;
	border-radius: 0px !important;
	background-color: #EEEEEE !important;
}

.img-profile {
	width: 100%;
}