html,
body {
	height: 100%;
    margin: 0;
}

.borde {
	border: 1px solid red;
}

input {
	border-radius: 0px !important;
	border-color: rgba(2, 2, 2, 0.0) !important;
	background-color: #EEEEEE !important;
}

textarea {
	border-radius: 0px !important;
	border-color: rgba(2, 2, 2, 0.0) !important;
	background-color: #EEEEEE !important;
}

button {
	border-radius: 0px !important;
}

select {
	border-width: 0px !important;
	border-radius: 0px !important;
	background-color: #EEEEEE !important;
}

.img-profile {
	width: 100%;
}

.full {
	width: 90% !important;
}

.custom-modal {
	border-color: rgba(255, 2, 2, 0.0) !important;
	border-radius: 0px !important;
}

.hover {
	border-radius: 0.5em !important;
}

.hover:hover {
	background-color: #CCCCCC !important;
}

.lista {
	overflow: auto;
	max-height: 16em !important;
}

.bre {
	display: block;
	margin: 2.5em;
	content: " ";
}